.container {
  background-color: rgb(99, 163, 219);
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox {
  background-color: white;
  width: 80%;
  height: 80%;
}

.masonry_container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  grid-template-rows: masonry;
  text-align: center;
}