.container {
  background-color: #ecf0f1;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;

  overflow: hidden;
  padding: 0px 0px 40px 0px;
}

.masonry_container {
  width: 80%;
  height: auto;
  max-width: 700px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  grid-template-rows: masonry;
}
