body {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1500px;
  
  position: relative;
  background-color: rgb(248, 248, 248);
}
.Form {
  width: 80%;
}
.form-control {
  outline: none !important;
  color: red;
  border: 0;
}
Button {
  width: 80%;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.inputContainer {
  width: 80%;
  height: 650px;
  
}
.inputTitle {
  width: 100%;
  font-size: 25px;
  background-color: rgb(248, 248, 248);
  padding:15px;
  border:none;
  border-bottom:1px solid rgb(199, 199, 199);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);

}
.inputContent {
  width: 100%;
  height: 500px;
  resize: none;
  padding:15px;
  border:none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(248, 248, 248);
}
.inputTitle:focus,
.inputContent:focus {
  outline: none;
}
.contentButton {
  width: 150px;

  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  width: 100px;
  margin: 0px 20px;
}
.imageButton {
  width: 150px;
  display: block;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;

  margin: 0px 20px;
}
.imageInputContainer {
  display: flex;
  justify-content: space-around;
  height:50px;
  width:750px;
}
.Btn:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}
.imageInputFile{
  display:flex;
  width:500px;
  align-items: center;
}
.imageInputFile input[type="file"]{
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.imageInputFile label{
  width: 130px;
  height:50px;
  display: block;
  border: none;
  padding: 15px 30px;
  cursor:pointer;
  font-family: "paybooc-Light", sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  margin-right:2px;
}

.imageInputFile > .upload_name{
  font-size:15px;
  height:50px;
  width:300px;
  
}
.inputFileImageDiv{

  height:500px;
  width:50%;
}
.inputFileImageDiv div{
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.inputFileImageDiv img{
  height:70%;
  width:70%;

}