body {
  height: 100vh;
}
.container {
  display: flex;

  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  height: 1500px;
  position: relative;
  background-color: rgb(248, 248, 248);
}
.imageAndInput {
  display: flex;
  width: 80%;
  margin: 30px 0px;
}
.Form {
  width: 80%;
}
.form-control {
  outline: none !important;
  color: red;
  border: 0;
}
Button {
  width: 80%;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.inputContainer {
  width: 80%;
  height: auto;
}
.inputTitle {
  width: 100%;
  font-size: 25px;
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(199, 199, 199);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}
.inputContent {
  width: 100%;
  height: 400px;
  resize: none;
  padding: 15px;
  border: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid rgb(199, 199, 199);
}
.inputTitle:focus,
.inputContent:focus {
  outline: none;
}
.contentButton {
  width: 150px;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  width: 100px;
  margin-bottom: 30px;
}
.imageButton {
  width: 100px;
  display: block;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  margin: 0 auto;
}

.imageButton:hover {
  letter-spacing: 2px;
  cursor: pointer;
  transform: scale(1.05);
}
.imageInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 750px;
}

.imageInputFileForm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.imageInputFileForm input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.imageInputFileForm label {
  /*  width: 130px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
  font-family: "paybooc-Light", sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  margin-right: 2px; */
  width: 80px;
  height: 30px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background-color: #b4d8e7;
  color: white;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  transition: 0.25s;
  cursor: pointer;
  margin-bottom: 20px;
}

.imageInputFileForm label:hover {
  transform: scale(1.05);
}

.imageInputFile > .upload_name {
  font-size: 15px;
  height: 50px;
  width: 300px;
}
.inputFileImageDiv {
  height: 450px;
  width: 100%;
  display: flex;
  text-align: center;
  margin: 30px 0px;
  flex-direction: column;
  overflow: auto;
}

.inputFileImageDiv::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.inputFileImageDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}
.inputFileImageDiv img {
  height: 100%;
  width: 100%;
}
